body {
  font-family: Lato, sans-serif;
  color: #383838;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  min-height: 100%;
  position: relative;
}

.mobile{
  display: none;
  padding: 32px
}

.logoCont{
  text-align: center;
  margin-bottom: 24px
}

h3 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.leftCol h3{
  font-size: 16px
}

.attach{
  font-size: 12px;
  display: block
}

.attachList li{
  word-break: break-all
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.mobile h4
{
  text-align:center
}

p {
  margin-bottom: 0px
}

#error{
  color:red
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 10px 0 5px 0 rgba(0, 0, 0, .05)
}

.wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

.righted .wrapper{
  width:calc(90% - 210px);
  float: left;
  display: inline-block;
  padding-left: 20px;
  position: relative;
  height: calc(100vh - 200px);
  overflow-y: auto
}

.righted .wrapper .button{
  position: absolute;
  right: 0;
  top: 20px
}

.leftCol{
  box-shadow: 10px 0 5px 0 rgba(0, 0, 0, .05);
  width:280px;
  float:left;
  display: inline-block;
  height: calc(100vh - 150px);
  margin-top: -2.5vh;
  padding: 20px 15px
}

.wrapper.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.wrapper.qr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content:flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrapper.bustecaricate {
  margin-top: 100px;
}
.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-width: 50%;
  float: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.nav-list.caricamento-busta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.button {
  padding: 8px 16px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #383838;
  border-radius: 8px;
  background-color: #383838;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.button-left{
  float: left
}

.button:hover {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  background-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  opacity: 1;
}

.button.stroke {
  margin-left: 24px;
  background-color: rgba(56, 56, 56, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #383838;
  letter-spacing: 0.8px;
}

.button.stroke:hover {
  border-color: #383838;
  background-color: #383838;
  color: #fff;
}

.button.stroke:active {
  border-color: #000;
  background-color: #000;
}

.button.stroke.ricerca {
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}

.button.top {
  display: inline-block;
  margin-top: 0px;
  float: right;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  text-align: center;
}

.button.text-row {
  margin-right: 20px;
  padding: 0px;
  border-style: none;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #383838;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.button.text-row:hover {
  color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
}

.button.text-row:active {
  color: hsla(39.67741935483871, 100.00%, 41.33%, 1.00);
}

.button.text-row.no-margin {
  margin-right: 0px;
}

.button.ricerca {
  display: inline-block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.button.center {
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
  float: none;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.edit
{
  color: #373737;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: 60px;
  float: left;
}

.button.login {
  margin-top: 40px;
  float: left;
  text-align: center;
}

.fist-section {
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.wrapper .fist-section
{
  padding-top: 5vh;
  width: 100%
}

.fist-section.risultato {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2px
}

.fist-section.step-caricamento {
  margin-bottom: 60px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
  font-weight: 300
}

.fist-section.min-70 {
  min-height: 70vh
}

.dynamic-section {
  text-align: left;
  position: relative;
  padding-bottom: 150px;
  min-height: 75.5vh
}

.label-box {
  margin-bottom: 10px;
  padding-left: 0px;
  color: rgba(56, 56, 56, .5);
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  text-transform: uppercase
}

.label-box.step {
  margin-bottom: 5px;
  padding-left: 0px;
  color: #383838;
  font-weight: 700
}
.label-box.center {
  margin-bottom: 0px;
  text-align: center
}
._25 {
  display: inline-block;
  width: 24%;
  padding-right: 20px;
  padding-left: 20px
}

.filters-bar {
  min-height: 72px;
  padding: 20px 0px;
  background-color: hsla(0, 0%, 74%, .2)
}

.search-field {
  position: static;
  margin-bottom: 0px;
  border: 1px solid #fff;
  background-image: url('../images/search-active.svg');
  background-position: 97% 50%;
  background-size: auto 16px;
  background-repeat: no-repeat;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #383838
}

.search-field:hover {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 0.50)
}

.search-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  border-radius: 0px;
  color: #383838;
  font-style: normal
}

.search-field::-webkit-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field:-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field::-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field::placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field.drop-down {
  border-radius: 0px;
  background-color: #fff;
  background-image: none;
}

.filter-form {
  width: 95%;
  margin-bottom: 0px;
}

.element-container {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 14px 14px 20px 5px rgba(0, 0, 0, .05);
}

.bar {
  position: relative;
  padding: 20px 0px;
}

.divider-row {
  position: absolute;
  left: 20px;
  top: auto;
  right: 20px;
  bottom: 0%;
  height: 1px;
  background-color: hsla(0, 0%, 74%, .2);
}

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #383838;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2px;
  position: absolute;
  bottom: 0
}

.link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
}

.link:hover {
  opacity: 0.5;
}

.link:active {
  opacity: 0.8;
}

._18 {
  display: inline-block;
  width: 18%;
}

.field-filter {
  position: static;
  margin-bottom: 0px;
  border: 1px solid #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #383838;
}

.field-filter:hover {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 0.50);
}

.field-filter:focus {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  border-radius: 0px;
  color: #383838;
  font-style: normal;
}

.field-filter::-webkit-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.field-filter:-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.field-filter::-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.field-filter::placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.activity-icon {
  width: 24px;
  margin-right: 12px;
}

.activity-text {
  display: inline-block;
  line-height: 16px;
}

.activity-text.corretto {
  color: hsla(88.97959183673468, 88.02%, 32.75%, 1.00);
}

.activity-text.in-corso {
  color: hsla(43.96761133603239, 100.00%, 48.43%, 1.00);
}

.activity-text.allerta {
  color: #e01f1f;
}

.activity-text.attenzione {
  color: #fa6400;
}

.search-wrapper {
  width: 45%;
  margin-right: auto;
  margin-left: auto;
}

.search-filter-bar {
  padding-bottom: 0px;
  text-align: center;
}

.search-filter-bar.login {
  text-align: left;
}

.search-card {
  text-align: center;
}

.search-card._48 {
  width: 48%;
  margin-top: 2vh;
  float: left;
}

.search-card._48.r {
  float: right;
}

.selectric-scroll li:first-child
{
  display: none
}

.search-card._30 {
  width: 30%;
  float: left;
  margin-right:20px
}

.text-field {
  position: static;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #fff;
  background-image: url('../images/search-active.svg');
  background-position: 97% 50%;
  background-size: auto 16px;
  background-repeat: no-repeat;
  box-shadow: 14px 14px 20px -1px rgba(0, 0, 0, .05);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #383838;
}

.text-field:hover {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 0.50);
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  border-radius: 0px;
  color: #383838;
  font-style: normal;
}

.text-field::-webkit-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field:-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field::-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field::placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field.drop-down {
  border-radius: 0px;
  background-color: #fff;
  background-image: none;
}

.text-field.qr {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('../images/QR.png');
  background-size: auto 24px;
  font-size: 32px;
}
.search-bar {
  margin-bottom: 60px;
  padding-bottom: 0px;
}

.text-field-container {
  position: static;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #fff;
  box-shadow: 14px 14px 20px -1px rgba(0, 0, 0, .05);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #383838;
}

.text-field-container:hover {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 0.50);
}

.text-field-container:focus {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  border-radius: 0px;
  color: #383838;
  font-style: normal;
}

.text-field-container::-webkit-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field-container:-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field-container::-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field-container::placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.text-field-container.drop-down {
  border-radius: 0px;
  background-color: #fff;
  background-image: none;
}

.text-field-container.no-shadow {
  border-color: #f5f5f5;
  box-shadow: none;
}

.text-field-container.no-shadow:hover {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 0.50);
}

.text-field-container.no-shadow:active {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
}

.text-field-container.no-shadow:focus {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
}

.label-field {
  margin-bottom: 0px;
  padding-left: 12px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.label-field.required{
  font-weight: 800
}

.search-field-contain {
  position: static;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 0px none #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #383838;
}

.search-field-contain:hover {
  border-style: none;
  border-width: 0px;
  border-color: hsla(39.67741935483871, 0.00%, 100.00%, 1.00);
}

.search-field-contain:active {
  border-style: none;
  border-width: 0px;
}

.search-field-contain:focus {
  border-style: none;
  border-width: 0px;
  border-color: hsla(39.67741935483871, 0.00%, 100.00%, 1.00);
  border-radius: 0px;
  color: #383838;
  font-style: normal;
}

.search-field-contain::-webkit-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field-contain:-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field-contain::-ms-input-placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field-contain::placeholder {
  background-image: none;
  color: #bdbdbd;
  font-style: italic;
  letter-spacing: 0.6px;
}

.search-field-contain.drop-down {
  border-radius: 0px;
  background-color: #fff;
  background-image: none;
}

.notifiche {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 40px;
  margin-left: 40px;
  float: right;
  background-image: url('../images/notifiche.svg');
  background-position: 50% 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms cubic-bezier(.215, .61, .355, 1);
  transition: all 200ms cubic-bezier(.215, .61, .355, 1);
  cursor: pointer;
}

.notifiche:hover {
  background-size: 25px 25px;
  opacity: 1;
}

.li-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: center;
}

.li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #383838;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.li:hover {
  color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
}

.li:active {
  color: hsla(39.5260663507109, 100.00%, 41.37%, 1.00);
}

.li.w--current {
  background-image: url('../images/current_icon.svg');
  background-position: 50% 100%;
  background-size: 125px 12px;
  background-repeat: no-repeat;
  font-weight: 700;
}

.divider-nav {
  width: 1px;
  height: 60%;
  margin-left: 20px;
  background-color: #f5f5f5;
  color: #f5f5f5;
}

.allert-notifica {
  position: absolute;
  left: auto;
  top: -10%;
  right: -10%;
  bottom: auto;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100%;
  background-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 900;
  text-align: center;
}

.allert-notifica.item {
  left: auto;
  top: 0%;
  right: 5%;
  bottom: auto;
  width: 12px;
  height: 12px;
}

.lista-norifiche {
  position: absolute;
  top: 102%;
  right: 0px;
  display: inline-block;
  width: 300px;
  height: auto;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 15px 20px 2px rgba(0, 0, 0, .1);
  opacity: 0;
  text-align: left;
}

.item-notifica {
  position: relative;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px 15px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #f5f5f5;
}

.data-notifica {
  display: inline-block;
  margin-bottom: 10px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 14px;
}

.item-ricerca {
  font-weight: 700;
}

.caricamento-busta {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.text-caricamento {
  display: block;
  width: 50%;
  float: left;
  text-align: left;
}

.action-caricamento {
  width: 50%;
  float: right;
}

.action-complete {
  margin-top: 15px;
  margin-right: 40px;
  float: right;
  color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.8px;
}

.content-step {
  width: 100%;
  padding-top: 80px;
  padding-right: 20%;
  padding-left: 20%;
}

.card-qr {
  width: 15%;
  padding: 10px 10px 30px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 8px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
  margin-right: 15px
}

.card-qr:hover {
  background-color: hsla(0, 0%, 96%, .5);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
}

.card-qr:active, .card-qr.selected {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  background-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
}

.card-qr:focus {
  border-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  background-color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
}

.qr-image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.allineamento-distribuito {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.overlay-pop-up {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 800;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(56, 56, 56, .8);
  opacity: 0;
}

.block-overlay {
  position: relative;
  width: 50%;
  padding: 40px 29px;
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
}

.orange {
  color: hsla(39.67741935483871, 85.32%, 57.25%, 1.00);
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.close {
  position: absolute;
  left: auto;
  top: -10%;
  right: 0%;
  bottom: auto;
  width: 20px;
  height: 20px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.close:hover {
  -webkit-transform: rotate(90deg) scale(1.15);
  -ms-transform: rotate(90deg) scale(1.15);
  transform: rotate(90deg) scale(1.15);
}

.bar-pdv {
  position: relative;
  padding: 20px 0px;
}

._50 {
  width: 50%;
  float: left;
}

._50.r {
  float: right;
}

._50.full-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._50.full-page.img {
  border-style: solid;
  border-width: 20px;
  border-color: #fff;
  background-image: url('../images/IMG.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

._50.auto {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

._50.content {
  width: 100%;
  padding-right: 25%;
  padding-left: 25%;
}
.heading {
  text-align: left;
}

.info-text {
  padding-right: 40px;
  text-align: left;
}

.p-inline {
  display: inline-block;
}

.quest {
  margin-left: 5px;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.quest:hover {
  -webkit-transform: scale(1.05) translate(0px, -10px);
  -ms-transform: scale(1.05) translate(0px, -10px);
  transform: scale(1.05) translate(0px, -10px);
}

.step-riepilogo {
  padding-top: 40px;
  padding-bottom: 60px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #f5f5f5;
  text-align: center;
}

.step-riepilogo.no-stroke {
  border-style: none;
  border-width: 1px;
}

.form-login {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 20px -1px rgba(0, 0, 0, .05);
  text-align: left;
}

.ricordami {
  width: 50%;
}

.checkbox {
  display: inline-block;
  width: 50%;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 14px;
}

.checkbox-2 {
  font-size: 18px;
}

.checkbox-icon {
  margin-top: 2px;
  border-style: solid;
  border-width: 30px;
  border-color: #fff;
  border-radius: 0px;
  box-shadow: 1px 1px 3px 0 transparent;
  color: #e01f1f;
}

.logo-login {
  margin-bottom: 40px;
}

._40 {
  display: inline-block;
  width: 40%;
  padding-right: 20px;
  padding-left: 20px;
}

._80 {
  width: 80%;
}

._80-copy {
  width: 80%;
}

._50vh {
  display: block;
  height: 50vh;
  margin-bottom: 20px;
}

.h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.h2.wait {
  color: hsla(43.96761133603239, 100.00%, 48.43%, 1.00);
}

.h2.allert {
  color: #e01f1f;
}

.h2.perfect {
  color: hsla(88.97959183673468, 88.02%, 32.75%, 1.00);
}
@font-face {
  font-family: 'Lato hairline';
  src: url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.flexed form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.flexed form h4{
  width: 100%;
  margin-top: 32px
}

.flexed .half{
  width: 49%
}

.flexed .third{
  width: 32%;
  margin-bottom: 24px
}

.flexed .full, .dropzone{
  width: 100%;
  margin-bottom: 24px
}

.full .label-field{
  padding-left: 0;
  margin-bottom: 12px;
}

.half.notFirst{
  margin-top: 24px
}

.txtLogo{
  float:left;
  color:#000
}

#overlay{
  position: fixed;
  left: 0px;
  z-index: 99999;
  display: none;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.82)
}

.close{
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer
}

#popup{
  position: relative;
  top: 50%;
  width: 40vw;
  height: 30vh;
  border-radius:16px;
  margin-right: auto;
  margin-left: auto;
  background-color: hsla(0, 0%, 100%, 0.87);
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%)
}

#popup p{
  font-size: 16px;
  margin: auto;
  text-align: center;
  line-height: 29vh
}

#popup p.more{
  line-height: 8vh
}

.otpText{
  width:100px;
  margin: auto
}

.button.otp{
  margin: auto;
  float: initial;
  margin-top: 18px;
  line-height: initial
}

a.news{
  width: 25%;
  margin-right: 25px;
  border:1px solid black
}

.newsCard{
  width: 100%;
  padding-bottom: 74px;
  position: relative;
  background-color: white;
  display: inline-block;
  transition: 0.4s;
  padding: 24px 24px 24px 24px;
}

.goin{
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  bottom: 24px;
  left: 24px;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  font-size: 13px
}

.card:hover .goin, .goin:hover, #main a:hover .goin{
  opacity: 1;
}

.newsCard h3{
  margin: 0;
  color: #34495E;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.46px;
  line-height: 16px;
  text-transform: uppercase;
}

.card h1{
  color: #000000;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.86px;
  line-height: 34px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width:576px){
  .mobile{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: block
  }
}